.register {
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 960px;
    padding: 100px 0px;
    display: flex;
    gap: 120px;

    h1 {
      color: gray;
      margin-bottom: 20px;
    }

    .left,
    .right {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: space-between;

      label {
        color: gray;
        font-size: 18px;
      }

      input,
      textarea {
        padding: 15px;
        border: 1px solid rgb(216, 214, 214);
      }

      button {
        border: none;
        padding: 20px;
        color: white;
        font-weight: 500;
        font-size: 18px;
        background-color: #1dbf73;
        cursor: pointer;
      }

      .toggle {
        display: flex;
        align-items: center;
        gap: 10px;

        .switch {
          position: relative;
          display: inline-block;
          width: 50px;
          height: 24px;
        }

        /* Hide default HTML checkbox */
        .switch input {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}
